@font-face {
   font-family: Playfair Display;
    src: url(../assets/fonts/PlayfairDisplay-Regular.otf);
}

@font-face {
    font-family: Playfair Display;
    src: url(../assets/fonts/PlayfairDisplay-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Playfair Display;
    src: url(../assets/fonts/PlayfairDisplay-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: Raleway Light;
    src: url(../assets/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway Light;
    src: url(../assets/fonts/Raleway-Medium.ttf);
    font-weight: medium;
}

/* GENERAL STYLES */

.font-ralewaylight {
    font-family: "Raleway Light", sans-serif;
}

.font-playfairdisplay {
    font-family: "Playfair Display", serif;
}

.font-weight-med {
    font-weight: medium; 
}

.font-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.line-height {
    line-height: 2em;
    padding: 1em;
}

.uppercase {
    text-transform: uppercase;
}

.color-white {
    color: #fff;
}

.color-grey {
    color: #969696;
}

.color-orange {
    color: #e2574c; 
}

.text-shadow {
    text-shadow: 2px 2px 4px #000;
}

.margin-bottom-med {
    margin-bottom: 3em;
}

.margin-top-med {
    margin-top: 3em;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    overflow-x: hidden;
    overflow-y: auto;
}

.img-size {
    width: auto;
}

.reduced-width {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.max-width {
    max-width: 600px;
    margin: auto;   
}


/* SPECIFIC STYLES */


body {
    font-size: 16px;
    font-family: "Raleway Light";
    color: #2d2d2d;
}

/* HEADER */

.logo {
    width: 12%;
    padding: 1.3em 1.5em;
} 

nav {
    width: 5%;
    padding: 1.2em 1.5em;
}

.logo-image {
    max-width: 100%;
}

.navigation {
    max-width: 100%;
}


/* BANNER */
.banner-img1 {
    height: 550px;
    color: #fff;
    background:
        url(../assets/images/flower-bkgd.jpg) center/cover no-repeat;
}

.banner-img2 {
    max-height: 550px;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../assets/images/banner-girl.png) center top/contain no-repeat;
}

.banner-img2 p.font-size-padding {
    font-size: 1.5em;
    padding-top: 9em;
}

h1 {
    padding: 0.2em;
    font-size: 4em;
}


/* HAND CRAFTED SECTION */

h2 {
    font-size: 2em;
    padding: 2em 0 1em;
}

.hr {
    border: 1px solid #d7d7d7;  
}

/* PRODUCTS SECTION */

.product {
    width: 25%
}

.product-img {
    width: 100%;
}

.small-caps {
    font-variant: small-caps;   
}

h3.font-size {
    font-size: 1.3em;
    padding: 0.6em;
   
}

/* UPDATES SECTION */

.updates {
    height: 350px;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../assets/images/wave-bkgd.jpg) bottom no-repeat;
}

.subscribe {
    max-width: 425px;
    width: 65%;
    margin: auto;
    padding: 4px;
    background-color: #fff;
    border-radius: 20px;
}

.email {
    width: 50%;
    padding: 0.5em 2%;    
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

.submit-button {
    width: 30%;
    font-size: 16px;
    padding: 0.5em 1em;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: #e2574c;
}

/* FOOTER */
footer {
    height: 260px;
    text-align: left;
    background-color: #242424;
    border-top: 5px solid #fff;
}

.footer-margins { 
    margin: 2em 3em 0 1em;
}

.paragraph-spacing {
    line-height: 1.5em;
    margin: 1em;
}

a.email:link { /* fix hover color */
    color: #ffffff;
}

a.email:hover {
    color: #b64036;
}



i {
    padding: 6px;
}


/* mobile */

@media only screen and (max-width: 599px) {

    body {
        font-size: 14px;
    }
    
    .logo {
        width: 25%;
    } 

    nav {
        width: 11%;
    }

    .banner-img1 {
        height: 350px;
    }
    
    .banner-img2 p.font-size-padding {
        font-size: 1.1em;
        padding-top: 9em;
    }

    h1 {
        padding: 0.2em;
        font-size: 2.5em;
    }
    
    .product {
        width: 100%;
    }
    
    .hide-for-mobile {
        display: none;
    }
    
    .mobile-display-inline {
        display: inline;
    }

    .mobile-clear-float {
        float: none;
        text-align: center;
    }
}

/* tablet */

@media only screen and (min-width: 600px) and (max-width: 999px) {
    
    .logo {
        width: 18%;
    } 

    nav {
        width: 7.5%;
    }
    
    .banner-img1 {
        height: 450px;
    }
    
    .banner-img2 p.font-size-padding {
        font-size: 1.1em;
        padding-top: 11em;
    }

    h1 {
        padding: 0.2em;
        font-size: 3em;
    }
    
    .product {
        width: 50%;
    }
}