li {
  a {
    color: #e2574c;
    text-decoration: none;

    &:visited {
      color: #e2574c;
    }

    &:hover {
      color: #b64036;
    }
  }
}

a:link.color-white {
  color: #fff;
  text-decoration: underline;
}

a:visited.color-white {
  color: #fff;
}

a:hover.color-white {
  color: #b64036;
}

.anchor {
  display: block;
  position: relative;
  top: -125px;
  visibility: hidden;
}

#updates.anchor {
  top: -20px;
}