/* GENERAL STYLES */

* {
  box-sizing: border-box;
}

.show-for-mobile {
  display: none;
}

@media only screen and (min-width: 600px) {

  body {
    font-size: 16px;
  }
}

/* COLORS */

.color-orange {
  color: #e2574c;
}

.color-white {
  color: #fff;
}

.color-grey {
  color: #969696;
}

/* MARGINS / PADDING */

.margin-bottom-xsm {
  margin-bottom: 1em;
}

.margin-top-xsm {
  margin-top: 1em;
}

.margin-bottom-sm {
  margin-bottom: 2em;
}

.margin-top-sm {
  margin-top: 2em;
}

.margin-bottom-med {
  margin-bottom: 3em;
}

.margin-top-lrg {
  margin-top: 7em;
}

.margin-top-xlrg {
  margin-top: 9em;

  @media only screen and (min-width: 600px) {
    margin-top: 7em;
  }
}

.padding {
  padding: 1.5em;
}


