@import "reset";
@import "flickity";
/* GENERAL STYLES */

    * {
        box-sizing: border-box;
    }

    .show-for-mobile {
        display: none;
    }

    /* FONT */
    
    .font-ralewaylight {
        font-family: 'Raleway', sans-serif;
    }

    .font-playfairdisplay {
        font-family: 'Playfair Display', serif;
    }

    .font-weight-med {
        font-weight: medium; 
    }

    .med-font {
        font-size: 1.3em;
    }

    .lrg-font {
        font-size: 1.6em;
        padding: 0.6em;
    }

    .xlrg-font {
        font-size: 3em;
        padding: 0.2em;
    }

    .bold {
        font-weight: bold;
    }

    .italic {
        font-style: italic;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .small-caps {
        font-variant: small-caps;   
    }
    
    .color-orange {
        color: #e2574c; 
    }

    .color-white {
        color: #fff;
    }

    .color-grey {
        color: #969696;
    }

    .text-shadow {
        text-shadow: 1px 1px 4px #555;
    }

    .font-center {
        text-align: center;
    }
        
    .line-height-med {
        line-height: 2em;
        padding: 1em;
    }

    .line-height-sm {
        line-height: 1.5em;
        margin: 1em;
    }

    .padding {
        padding: 1.5em;
    }

    /* MARGINS */

    .margin-bottom-xsm {
        margin-bottom: 1em;
    }

    .margin-top-xsm {
        margin-top: 1em;
    }

    .margin-bottom-sm {
        margin-bottom: 2em;
    }

    .margin-top-sm {
        margin-top: 2em;
    }

    .margin-bottom-med {
        margin-bottom: 3em;
    }

    .margin-top-lrg {
        margin-top: 7em;
    }

    .margin-top-xlrg {
        margin-top: 9em;
    }
   
    /* LINKS */

    a:link {
        color: #e2574c;
        text-decoration: none;
    }
    
    a:link.color-white {
        color: #fff;
        text-decoration: underline;
    }   

    a:hover {
        color: #b64036;
    }

    a:hover.color-white {
        color: #b64036;
    }

    /* FLEX */

    .flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-wrap {
        flex-wrap: wrap; 
    }

    .justify-space-between {
        justify-content: space-between;
    }

    .justify-space-around {
        justify-content: space-around;
    }

    .justify-center {
        justify-content: center;
    }

    .align-center {
        align-items: center;
    }

    .basis-25 {
        flex-basis: 50%;
    }

    .basis-50 {
        flex-basis: 100%;
    }


/* SPECIFIC STYLES */
    
    body {
        font-size: 14px;
        color: #2d2d2d;
    }

    /* HEADER */

    .position-fixed {
        position: fixed; 
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #fff;
        width: 100%;
    }

    .logo {
        flex-basis: 25%;      
    }

    .logo-image {
        max-width: 100%;
    }

    .shopping-cart {
        flex-basis: 11%;
        position: relative;
    }

    .cart-icon {
        max-width: 100%;   
    }

    hr {
        border: 1px solid #d7d7d7;  
    }

    .hide {
        display: block;  
    }

    #item-counter {
        display: none;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        background-color: #e2574c;   
        color: #fff;
        padding: 0.2em;
    }

    #price-box {
        width: 130px;
        height: 130px;
        padding: 10px;
        background-color:rgba(0,0,0,0.8);
        box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
        position: absolute;
        top: 0px;
        right: 0px;
        display: none;
    }

    /* BANNER */

    .banner-img1 {
        height: 350px;
        background: url(../../assets/images/flower-bkgd.jpg) center/cover no-repeat;
    }

    .banner-img2 {
        height: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../../assets/images/banner-girl.png) center top/contain no-repeat;
    }

    /* HAND CRAFTED SECTION */

    .max-width {
        max-width: 600px;  
    }

    /* PRODUCT CATEGORIES */

    .bkg-img-mens {
        background: url(../../assets/images/mens-category.jpg) center/cover no-repeat;
    }

    .bkg-img-trends {
        background: url(../../assets/images/trends-category.jpg) center/cover no-repeat;
    }

    .bkg-img-glasses {
        background: url(../../assets/images/glasses-category.jpg) center/cover no-repeat;
    }

    .bkg-img-sale {
        background: url(../../assets/images/sale-category.jpg) center/cover no-repeat;
    }

    .bkg-img-bags {
        background: url(../../assets/images/bags-category.jpg) center/cover no-repeat;
    }

    .bkg-img-womens {
        background: url(../../assets/images/womens-category.jpg) center/cover no-repeat;
    }

    .min-height {
        min-height: 200px;
    }

    .img-border {
        border: 3px solid #fff;
    }

    /* PRODUCTS SECTION */

    .reduced-width {
        max-width: 1200px;
        width: 100%;
    }

    .product-img {
        width: auto;
    }

    button {
        width: 200px;
        font-size: 12px;
        padding: 0.5em 1em;
        border-radius: 30px;
        border: none;
        color: #fff;
        background-color: #242424;
    }

    .carousel-cell {
        width: 75%; 
        height: 460px;
        margin-right: 10px;
    }

    /* UPDATES SECTION */

    .updates {
        height: 350px;
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../../assets/images/wave-bkgd.jpg) bottom no-repeat;
    }

    .subscribe {
        max-width: 425px;
        width: 100%;
        padding: 4px;
        background-color: #fff;
        border-radius: 20px;
        margin: 0 5px;
    }

    input[type="email"] {
        width: 50%;
        padding: 0.5em 2%;    
        border-radius: 20px;
        border: none;
        font-size: 16px;
    }

    input[type="button"] {
        width: 30%;
        font-size: 16px;
        padding: 0.5em 1em;
        border-radius: 30px;
        border: none;
        color: #fff;
        background-color: #e2574c;
    }

    /* FOOTER */

    footer {
        height: 260px;
        background-color: #242424;
        border-top: 5px solid #fff;    
    }

    .hide-for-mobile {
        display: none;
    }

    i {
        padding: 6px;
    }

/* tablet */

@media only screen and (min-width: 600px) {
   
    body {
        font-size: 16px;
    }
    
    .xlrg-font {
        font-size: 4em;
        padding: 0.2em;
    }
    
    .margin-top-xlrg {
        margin-top: 7em;
    }
    
    .no-wrap {
        flex-wrap: nowrap;
    }
    
    .logo {
        flex-basis: 18%;
    } 

    .shopping-cart {
        flex-basis: 7.5%;
    }
    
    .banner-img1 {
        height: 450px;
    }
    
    .min-height {
        min-height: 200px;
    }
    
    .flex-order-3 {
        order: 3;
    }

    .flex-order-2 {
        order: 2;
    }
    
    .basis-25 {
        flex-basis: 25%;
    }

    .basis-50 {
        flex-basis: 50%;
    }
    
    .font-left {
        text-align: left;
    }
    
    .hide-for-mobile {
        display: inline;
    }
    
    .hide {
        display: none;  
    }
    
    .flex-row {
        flex-direction: row;
    }
    
    .carousel-cell {
        width: 50%; 
    }
    
    .mobible-flex-column {
        flex-direction: column;
    }
}

/* desktop */

@media only screen and (min-width: 1240px) {
    
    .logo {
        flex-basis: 14%;
    }
    
    .lrg-font {
        font-size: 2em;
        padding: 0.6em;
    }
    
    .shopping-cart {
        flex-basis: 6%;
    }
    
    .banner-img1 {
       height: 550px; 
    }
    
    .min-height {
        min-height: 280px;
    }
    
    .basis-25 {
        flex-basis: 25%;
    }
    
    .basis-50 {
        flex-basis: 50%;
    }
    
    .carousel-cell {
        width: 25%; 
    }
}